<footer>

    <div class="container">
        <div id="left" class="row py-5">
            <div class="col-3 d-flex flex-column">
                <span><strong> Les Anciennes </strong></span>
                <span>50, Montée des Mures</span>
                <span>Cidex 63</span>
                <span>07100 ROIFFIEUX</span>
                <span> + 32 487 856 123</span>
                <span>sales : + 32 487 563 128</span>
                <span>lesanciennes@compagny.com</span>
                <span>Inscrit au registre national </span>
            </div>
            <div class="col-3 d-flex flex-column">
                <span><strong> Liens utiles </strong></span>
                <span>Voitures Europe</span>
                <span>Voitures Américaines</span>
                <span>Voitures Anglaises</span>
                <span>Voitures Françaises</span>
                <span>Voitures Allemandes</span>
                <span>Voitures Italiennes</span>
                <span>Voitures Suédoises</span>
                <span>Voitures Autres</span>
                <span>Assurance voiture de collection</span>
            </div>
            <div class="col-3" id="dealership">
                <a href="#">
                    <img src="../../assets/images/neonbrand-c7g65YhFD3A-unsplash.jpg" class="mb-3" alt="" />
                </a>
                <p>Points de vente par région</p>
                <p>Partie motos anciennes</p>
                <p>Extensions de garanties</p>
            </div>
            <div class="col-3" id="right">
                <div class="d-flex flex-column">
                    <span><strong> OUVERT </strong></span>
                    <span>Lundi au samedi</span>
                    <span>09:00 - 17:00</span>
                    <p></p>
                </div>
                <div class="d-flex flex-column">
                    <span class="mt-4">OUVERT EXTRA</span>
                    <span>Le premier</span>
                    <span>dimanche du mois</span>
                    <span>10:00 - 17:00</span>
                </div>
                <a href="#">
                    <img src="../../assets/images/unnamed.png" class="mb-3" alt="" />
                </a>
            </div>
        </div>
    </div>
</footer>