<div class="container">

    <div class="card-deck">

        <div *ngFor="let professionnal of professionnals" class="card mx-auto" style="width: 18rem;">

            <div class="card-body">

                <h6 class="card-subtitle mb-2 text-muted">{{professionnal.firstname}}{{professionnal.lastname}}</h6>
                <p class="card-text">{{professionnal.email}}</p>

                <!--<button [routerLink]="getEditUrl(product.id)" class="btn btn-primary float-right">Modifier</button>-->

            </div>

        </div>
    </div>

</div>